/* Universal Selector Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-slate-900: #1f314f;
  --color-slate-500: #68778d;
  --color-slate-300: #d5e1ef;
  --color-white: #ffffff;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-400: 0.9rem;
  --fs-700: 1.375rem;

  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-500: 2.5rem;
}

/* Centers the child element vertically and horizontally */
html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: var(--fs-400);
  background: var(--color-slate-300);
}

.qr-card {
  background: var(--color-white);
  padding: var(--spacing-200) var(--spacing-200) var(--spacing-500)
    var(--spacing-200);
  max-width: 20rem;
  text-align: center;
}

.qr-card__barcode-image {
  width: 10rem;
  height: 10rem;
}
